* {
  margin: 0;
  padding: 0;
}
/* shared font */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* shared btn */
.btn {
  background-color: #facc15;
  padding: 18px;
  border-radius: 999px;
  border: none;
  color: #15803d;
  font-size: 18px;
}

/* style css */

/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #15803d;
  color: white;
}
.navbar .logo {
  font-size: 22px;
  font-weight: bold;
}
.navbar .menu {
  display: flex;
  gap: 24px;
}
.navbar .menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navbar .menu a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(195, 79, 79);
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  background-color: #cff0dc;
}
.banner img {
  width: 320px;
  margin: 0;
  padding: 0;
  display: block;
}
.banner-middle {
  padding: 20px;
  text-align: center;
}
.banner-middle h1 {
  font-size: 30px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 8px;
}
.banner-middle p {
  font-size: 15px;
  color: #1f2937;
  margin-bottom: 20px;
}
/* About the Campaign */
main {
  background-color: #e8f8ef;
}
.about {
  padding: 80px 180px;
}
.about h2 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #1f2937;
}
.about-container {
  margin-top: 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 380px;
  border-radius: 10px;
}
.about-text p {
  font-size: 15px;
  color: #1f2937;
}
.about-text ul {
  font-size: 15px;
  color: #1f2937;
  padding: 20px;
  margin-top: 10px;
}
/* Our Impact */
.impact {
  background-color: #cff0dc;
  padding: 50px 100px;
  text-align: center;
}
.impact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 25px;
}
.impact-cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-content: center;
}
.impact-card {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  width: 340px;
}
.impact-card:hover {
  background-color: #ade5c4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}
.impact-card h3 {
  font-size: 24px;
  color: #15803d;
  margin-bottom: 12px;
}
.impact-card p {
  font-size: 16px;
  color: #1f2937;
}
/* plant a tree today section */
.donate {
  padding: 60px 300px;
  background-color: #166534;
  text-align: center;
}
.donate h2 {
  font-weight: 600;
  font-size: 25px;
  color: white;
  margin-bottom: 35px;
}
.donate-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  padding: 40px;
  background-color: #15803d;
}
.donate-form input,
.donate-seclect {
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.donate-form button {
  background-color: #facc15;
  border: none;
  color: #15803d;
  font-size: 16px;
  padding: 12px;
  font-weight: 500;
  border-radius: 999px;
  margin-top: 15px;
}
/* footer copyright section */
.copyright-section {
  background-color: #14532d;
  text-align: center;
  padding: 20px;
}
.copyright-section p {
  font-size: 12px;
  color: white;
}
/* choose your tree section */
.trees {
  padding: 50px 65px;
}
.trees h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 30px;
}
.trees-container {
  display: grid;
  grid-template-columns: 180px 1fr 180px;
  grid-template-areas: "categories cards cart";
  justify-content: space-between;
  gap: 20px;
}
.categories {
  grid-area: categories;
}
.tree-cards {
  grid-area: cards;
}
.cart {
  grid-area: cart;
}
.tree-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card img {
  width: 100%;
  max-width: 380px;
  height: auto;
  max-height: 380px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.card h4 {
  font-weight: 600;
  font-size: 14px;
  color: #1f2937;
  margin-bottom: 8px;
}
.card p {
  font-size: 12px;
  color: #1f2937;
  margin-bottom: 8px;
}
.categori-and-price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.categori-and-price-container .name {
  background-color: #c0ecd0;
  border-radius: 500px;
  color: #15803d;
  padding: 4px 12px;
  font-size: 12px;
}
.categori-and-price-container .rates {
  font-weight: 600;
  font-size: 12px;
  color: #1f2937;
}
.card button {
  border-radius: 999px;
  background-color: #15803d;
  color: white;
  font-size: 12px;
  border: none;
  padding: 8px 12px;
  width: 100%;
}
.card {
  padding: 12px;
  height: 340px;
  max-height: 380px;
  background-color: white;
  border-radius: 8px;
}
.categories h3 {
  margin-bottom: 12px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.categories ul li {
  list-style: none;
  padding: 8px;
}
.categories ul a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #1f2937;
  font-size: 15px;
}
.categories ul a:hover {
  background-color: green;
  color: white;
}
.cart {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 10px;
}
.cart h3 {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 8px;
}
.cart-container h4 {
  font-size: 14px;
  color: #1f2937;
  font-weight: 600;
  margin-bottom: 4px;
}
.cart-container p {
  font-size: 11px;
  color: darkgray;
  font-weight: 600;
}
.cross {
  font-size: 10px;
}
.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0fdf4;
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 10px;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #1f2937;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  /* navbar style */
  .navbar {
    flex-direction: column;
    gap: 20px;
  }
  .btn {
    background-color: #facc15;
    padding: 16px;
    border-radius: 999px;
    border: none;
    color: #15803d;
    font-size: 16px;
  }
  /* banner style */
  .banner {
    flex-direction: column;
  }
  .banner img {
    display: none;
  }
  .banner-middle h1 {
    font-size: 25px;
  }
  .banner-middle p {
    font-size: 12px;
  }
  /* About the Campaign */
  .about {
    padding: 20px 50px;
  }
  .about-container {
    flex-direction: column;
  }
  .about-image img {
    width: 100%;
    max-width: 290px;
  }
  /* Our Impact */
  .impact-cards {
    flex-direction: column;
    align-items: center;
  }
  .about h2 {
    font-size: 20px;
  }
  .impact-card {
    max-width: 340px;
    width: 100%;
  }
  /* plant a tree today section */
  .donate {
    padding: 30px 50px;
  }
  .donate h2 {
    font-size: 20px;
  }
  .donate-form input,
  .donate-seclect {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
  }
  .donate-form button {
    font-size: 14px;
    padding: 10px;
  }
  /* choose your tree section */
  .trees {
  padding: 20px 30px;
}
  .categories ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* flex-wrap: wrap; */
    gap: 5px;
  }
  .tree-cards {
    grid-template-columns: 1fr;
  }
  .trees-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "categories"
      "cart"
      "cards";
  }
}
